doctype html
html
    head
        meta(charset='utf-8')
        title Example
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0")
    body
        h1 Hello Pug!
        img(src='image.jpg')
        // <hr>
        // <div class="logo"></div>
        